---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Welcome to Astro.">
	<main>
		<div class="navbar">
			alal
		</div>
		<h1>firma bienes raices</h1>
		<h2>firma bienes raices </h2>
	</main>
</Layout>

<style>


h1{
	font-family: "Noto Serif", serif;
	
}

h2{
	font-family: "Inter", sans-serif;
}


.navbar{
	background-color: lightcoral;
	max-widthh: 100vw;
	height: 90px;
	margin: 0 !important;
	padding: 0;
}

	
</style>
