---
import Layout from "../layouts/Layout.astro";
import HeroSection from "../components/astrocomponets/HeroSection.astro";
import SobreNosotros from "../components/astrocomponets/SobreNosotros.astro";
import Footer from '../components/astrocomponets/Footer.astro'
---

<Layout title="Welcome to Astro.">
  <main>
    <HeroSection />
    <SobreNosotros />
    <Footer/>
  </main>
</Layout>

<style>

  main{
    padding: 0;
    margin: 0;
  }

  /* font-family: "Inter", sans-serif; */
</style>
