---
import Layout from '../layouts/Layout.astro';
import HeroSection from '../components/astrocomponets/HeroSection.astro';
---

<Layout title="Welcome to Astro.">
	<main>
		<HeroSection/>
		<h1>lalala</h1>
	</main>
</Layout>

<style>


h1{
	font-family: "Noto Serif", serif;
}

h2{
	font-family: "Inter", sans-serif;
}

	
</style>
