---
import {Image} from 'astro:assets';
import asesoria from '../../../images/asesorias.jpg'
---


<div class="nosotrosContainer">
    <div>
        <Image class='image' src={asesoria} alt='lalal'/>
    </div>
    <div class="nosotrosText">
        <h2>
            Asesorias
        </h2>
        <p>As an official Webflow partner agency our team can help you take your online presence to the next level. No matter what stage your business is at, whether you're a start-up or an established brand we can help you position yourself and grow.</p>
    </div>

</div>



<style>

    .nosotrosContainer{
        margin: 100px 0;
        max-width: 100vw;
        height: 60vh;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }


    .image{
        width: 700px;
        height: 450px;
        border-radius: 30px;
    }


    .nosotrosText{
        margin-left: 50px;
        width: 470px;
        height: 100%;

        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
    }


    .nosotrosText >h2{
        font-size: 3rem;
        margin: 0 0 40px 0;
    }

    .nosotrosText > p{
        text-align: justify;
        font-size: 1.4rem;
        line-height: 1.3;
    }



</style>