---
import { Image } from "astro:assets";
import confiabilidad from "../../../images/confiabilidadImage.jpg";
---

<div class="nosotrosContainer">
  <div>
    <Image class="image" src={confiabilidad} alt="lalal" />
  </div>
  <div class="nosotrosText">
    <h2>Confiabilidad</h2>
    <p>
      En Firma Bienes Raíces, nuestra prioridad es brindarte un servicio transparente y seguro en cada etapa de tu experiencia inmobiliaria. Con años de experiencia en el mercado, nos hemos ganado la confianza de nuestros clientes gracias a nuestro compromiso con la integridad y la excelencia. Desde la búsqueda de tu propiedad ideal hasta la firma del contrato, puedes confiar en que estaremos a tu lado, asegurando que cada detalle se maneje con la máxima profesionalidad y ética.
    </p>
    <a href="/renta"> Ver inmuebles </a>
  </div>
</div>

<style>
  .nosotrosContainer {
    margin-top: 100px;
    max-width: 100vw;
    height: 60vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .image {
    width: 700px;
    height: 450px;
    border-radius: 30px;
  }

  .nosotrosText {
    margin-left: 50px;
    width: 470px;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
  }

  .nosotrosText > h2 {
    font-size: 3rem;
    margin: 0;
  }

  .nosotrosText > p {
    text-align: justify;
    font-size: 1.4rem;
    line-height: 1.3;
  }

  .nosotrosText > a {
    text-decoration: none;
    background-color: #003adb;
    color: white;
    font-size: 1.2rem;
    padding: 12px 30px;
    width: auto;
    transition: 0.2s ease-in;
  }

  .nosotrosText > a:hover {
    color: #000000;
    background-color: transparent;
    outline: solid 1px #003adb;
  }

  /* media querys */
  @media (max-width: 480px) {
    .nosotrosContainer {
      height: auto;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    .image {
      width: 360px !important;
      height: auto !important;
    }

    .nosotrosText {
      margin: 0;
      width: 100%;
      height: auto;

      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }

    .nosotrosText > h2 {
      font-size: 3rem !important;
      margin-top: 1.2rem;
    }

    .nosotrosText > p {
      padding: 0 2rem !important;
      text-align: justify;
      font-size: 1.3rem !important;
      line-height: 1.3;
    }

    .nosotrosText > a {
      font-size: 1rem ;
      padding: 12px 20px;
    }
  }

      /* Para dispositivos medianos (tabletas) */
      @media (max-width: 768px) {
        .nosotrosContainer {
      height: auto;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    .image {
      width: 320px;
      height: 230px;
    }

    .nosotrosText {
      margin: 0;
      width: 100%;
      height: auto;

      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }

    .nosotrosText > h2 {
      font-size: 3rem;
      margin-top: 2rem;
    }

    .nosotrosText > p {
      padding: 0 4rem;
      text-align: justify;
      font-size: 1.2rem;
      line-height: 1.3;
      margin-bottom: 2rem;
    }

    .nosotrosText > a {
      font-size: 1.2rem;
      padding: 12px 20px;
    }
      }


      /* Para dispositivos grandes (escritorios pequeños) */
      @media (max-width: 992px) {
        .nosotrosContainer {
      height: auto;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    .image {
      width: 400px;
      height: 260px;
    }

    .nosotrosText {
      margin: 0;
      width: 100%;
      height: auto;

      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }

    .nosotrosText > h2 {
      font-size: 3.5rem;
      margin-top: 2rem;
    }

    .nosotrosText > p {
      padding: 0 8rem;
      text-align: justify;
      font-size: 1.3rem;
      line-height: 1.3;
      margin-bottom: 2rem;
    }

    .nosotrosText > a {
      font-size: 1.2rem;
      padding: 12px 20px;
    }
  }

  @media (max-width: 1300px) {
        .nosotrosContainer {
      height: auto;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    .image {
      width: 400px;
      height: 260px;
    }

    .nosotrosText {
      margin: 0;
      width: 100%;
      height: auto;

      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }

    .nosotrosText > h2 {
      font-size: 3.5rem;
      margin-top: 2rem;
    }

    .nosotrosText > p {
      padding: 0 8rem;
      text-align: justify;
      font-size: 1.3rem;
      line-height: 1.3;
      margin-bottom: 2rem;
    }

    .nosotrosText > a {
      font-size: 1.2rem;
      padding: 12px 20px;
    }
  }
</style>
