<div class="estrategiasContainer">
  <div class="titles">
    <h2>Estrategias de comercializacion y renta de inmuebles</h2>
    <p>garantizadas por nosotros</p>
  </div>
  <div class="cardContainer">
    <div class="card">
      <h3>1</h3>
      <h4>title xample</h4>
      <p>lorem ipsun dor asemet lorem ipsun dor asemetlorem ipsun dor asemet</p>
    </div>
    <div class="card">
      <h3>2</h3>
      <h4>title xample</h4>
      <p>lorem ipsun dor asemet lorem ipsun dor asemetlorem ipsun dor asemet</p>
    </div>
    <div class="card">
      <h3>3</h3>
      <h4>title xample</h4>
      <p>lorem ipsun dor asemet lorem ipsun dor asemetlorem ipsun dor asemet</p>
    </div>
    <div class="card">
      <h3>4</h3>
      <h4>title xample</h4>
      <p>lorem ipsun dor asemet lorem ipsun dor asemetlorem ipsun dor asemet</p>
    </div>
  </div>
</div>

<style>
  .estrategiasContainer {
    margin-top: 80px;
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .titles {
    width: 50%;
    text-align: center;
  }

  .titles > h2 {
    margin: 0;
    font-family: "Times New Roman", Times, serif;
    text-align: center;
    font-size: 3rem;
  }

  .titles > p {
    font-size: 1.2rem;
  }

  .cardContainer {
    margin-top: 60px;
    width: 100%;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .card {
    height: auto;
    width: 200px;
    margin: 0 30px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .card > h3 {
    color: #003adb;
    font-size: 4rem;
    margin: 0;
  }

  .card > h4 {
    margin: 0 0 20px 0;
    font-size: 1.9rem;
    font-weight: lighter;
  }

  .card > p {
    margin: 0;
    font-family: "Inter", sans-serif;
    text-align: justify;
  }

  /* media querys */
  @media (max-width: 480px) {
    .estrategiasContainer {
      margin-top: 80px;
      height: auto;
      width: 100%;
      padding: 0 0 !important;

      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    .titles {
      width: 100%;
      text-align: center;
    }

    .titles > h2 {
      margin: 0 0 !important;
      text-align: center !important;
      font-size: 2.4rem !important;
      padding: 0 0 !important;
    }

    .titles > p {
      display: none;
    }

    .cardContainer {
      margin-top: 60px;
      height: auto;
      width: 100%;

      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    .card {
      height: auto;
      width: 200px;
      margin-bottom: 20px;

      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    .card > h3 {
      color: #003adb;
      font-size: 3rem;
      margin: 0;
    }

    .card > h4 {
      margin: 0 0 20px 0;
      font-size: 1.9rem;
      font-weight: lighter;
    }

    .card > p {
      margin: 0;
      text-align: center;
    }
  }

  /* Para dispositivos medianos (tabletas) */
  @media (max-width: 768px) {
    .estrategiasContainer {
      margin-top: 80px;
      height: auto;

      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    .titles {
      width: 100%;
      text-align: center;
    }

    .titles > h2 {
      margin: 0;
      text-align: center;
      font-size: 2.7rem;
      padding: 4rem;
    }

    .titles > p {
      display: none;
    }

    .cardContainer {
      margin-top: 60px;
      height: auto;
      width: 100%;

      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
    }

    .card {
      height: auto;
      width: 200px;
      margin-bottom: 20px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    .card > h3 {
      color: #003adb;
      font-size: 3rem;
      margin: 0;
    }

    .card > h4 {
      margin: 0 0 20px 0;
      font-size: 1.9rem;
      font-weight: lighter;
    }

    .card > p {
      margin: 0;
      text-align: center;
    }
  }

  /* Para dispositivos grandes (escritorios pequeños) */
  @media (max-width: 992px) {
    .estrategiasContainer {
      margin-top: 80px;
      height: auto;
      padding: 8rem;

      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    .titles {
      width: 100%;
      text-align: center;
    }

    .titles > h2 {
      margin: 0;
      text-align: center;
      font-size: 2.7rem;
      padding: 4rem;
    }

    .titles > p {
      font-size: 1.3rem;
      margin: 0;
    }

    .cardContainer {
      margin-top: 60px;
      height: auto;
      width: 100%;

      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
    }

    .card {
      height: auto;
      width: 200px;
      margin-bottom: 20px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
    }


    .card > h4 {
      margin: 0 0 20px 0;
      font-size: 1.9rem;
      font-weight: lighter;
    }

    .card > p {
      margin: 0;
      text-align: center;
    }
  }

</style>
