---
import { MdOutlinePhone } from "react-icons/md";
import { BiMessageSquareDots } from "react-icons/bi";
import { SiGooglemaps } from "react-icons/si";
---

<div class="container">
  <div class="form-container">
    <h2>Contacto</h2>
    <form class="form">
      <label>Nombre</label>
      <input type="text" placeholder="Nombre aqui..." />
      <label>Mensaje</label>
      <input type="text" placeholder="Comienze a escribir..." />
    </form>
    <a href="https://web.whatsapp.com/send?phone=98272321&text=Hola%20Jose,%20%C2%BFc%C3%B3mo%20est%C3%A1s?" target="_blank">Enviar mensaje</a>
  </div>
  <div class="info-container">
    <div class="contact-info">
      <MdOutlinePhone className="icon"/>
      <div class="info-box">
        <strong>Telefono</strong>
        <p>+504 32340392</p>
        <a href="https://wa.me/98272321?text=Hola%20estoy interesado%20en%20hacer%20una%20consulta" target="_blank">+504 98273221</a>
      </div>
    </div>
    <div class="contact-info">
      <BiMessageSquareDots className="icon"/>
      <div class="info-box">
        <strong>E-mail</strong>
        <br/>
        <a href="mailto:bienesraicesfirma@gmail.com" target="_blank">bienesraicesfirma@gmail.com</a>
      </div>
    </div>
    <div class="contact-info">
      <SiGooglemaps className="icon"/>
      <div class="info-box">
        <strong>Direccion</strong>
        <p>Pendiente dirección fiscal en trámite </p>
      </div>
    </div>
  </div>
</div>

<style>

    .container{
        height: 100vh;
        max-width: 100vw;

        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .form-container{
        height: 50%;
        width: 50%;
    }

    .form-container >h2{
        font-size: 2.3rem;
        font-weight: lighter;
    }

    .form{
        height: 60%;
        margin-bottom: 30px;


        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: start;
        
    }

    .form > label{
      font-size: 0.9rem;
      font-family: "Inter", sans-serif;
    }

    .form > input {
      font-family: "Inter", sans-serif;
      width: 500px;
      height: 100px;
      margin: 10px 0;
      border: none;
      outline: none;
      border-bottom: 2px solid #000000;
      transition: border-bottom ease-in 0.2s;
    }

    .form > input:focus {
      border-bottom: 2px solid #003ADB ;
    }

    .form-container > a{
        text-decoration: none;
        background-color: #003ADB;
        color: white;
        font-size: 1rem;
        padding: 10px 20px;
        width: auto;
        transition: 0.2s ease-in;
    }

    .form-container > a:hover{
        color: #000000;
        background-color: transparent;
        outline: solid 1px #003ADB;
    }

    .info-container{
      height: auto
    }

    .info-box{
      margin-left: 10px;
    }

    .info-box > a{
      text-decoration: none;
      color: black;
    }

    .contact-info{
      font-family: "Inter", sans-serif;
      display: flex;
      flex-direction: row;
      justify-content: start;
      margin: 20px 0;
    }

      /* media querys */
  @media (max-width: 480px) {
    .container{
        height: auto;
        max-width: 100vw;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .form-container{
        height: auto;
        width: 100%;
        text-align: center;
    }

    .form-container >h2{
        font-size: 2.3rem;
        font-weight: lighter;
        text-align: center;
    }

    .form{
        height: auto;
        margin-bottom: 30px;


        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: center;
        
    }

    .form > label{
      font-size: 0.9rem;
      font-family: "Inter", sans-serif;
    }

    .form > input {
      width: 50%;
      height: 50px;
      margin: 10px 0;
      text-align: center;
      margin-bottom: 40px;
    }

    .form-container > a{
        font-size: 1rem;
        padding: 10px 20px;
    }


    .info-container{
      height: auto;
      margin-top: 30px;

      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    .info-box{
      width: 90vw;
      text-align: center;
    }

    .icon{
      display: none;
    }

    .contact-info{
      font-family: "Inter", sans-serif;
      display: flex;
      flex-direction: row;
      justify-content: start;
      margin: 20px 0;
    }
  }


    /* Para dispositivos medianos (tabletas) */
    @media (max-width: 768px) {
      .container{
        height: auto;
        max-width: 100vw;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .form-container{
        height: auto;
        width: 100%;
        text-align: center;
    }

    .form-container >h2{
        font-size: 2.3rem;
        font-weight: lighter;
        text-align: center;
    }

    .form{
        height: auto;
        margin-bottom: 30px;


        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: center;
        
    }

    .form > label{
      font-size: 0.9rem;
      font-family: "Inter", sans-serif;
    }

    .form > input {
      width: 50%;
      height: 50px;
      margin: 10px 0;
      text-align: center;
      margin-bottom: 40px;
    }

    .form-container > a{
        font-size: 1rem;
        padding: 10px 20px;
    }


    .info-container{
      height: auto;
      margin-top: 30px;

      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    .info-box{
      width: 90vw;
      text-align: center;
    }

    .icon{
      display: none;
    }

    .contact-info{
      font-family: "Inter", sans-serif;
      display: flex;
      flex-direction: row;
      justify-content: start;
      margin: 20px 0;
    }
    }

      /* Para dispositivos grandes (escritorios pequeños) */
  @media (max-width: 992px) {
    .container{
        height: auto;
        max-width: 100vw;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .form-container{
        height: auto;
        width: 100%;
        text-align: center;
    }

    .form-container >h2{
        font-size: 2.3rem;
        font-weight: lighter;
        text-align: center;
    }

    .form{
        height: auto;
        margin-bottom: 30px;


        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: center;
        
    }

    .form > label{
      font-size: 0.9rem;
      font-family: "Inter", sans-serif;
    }

    .form > input {
      width: 50%;
      height: 50px;
      margin: 10px 0;
      text-align: center;
      margin-bottom: 40px;
    }

    .form-container > a{
        font-size: 1rem;
        padding: 10px 20px;
    }


    .info-container{
      height: auto;
      margin-top: 30px;

      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    .info-box{
      width: 90vw;
      text-align: center;
    }

    .icon{
      display: none;
    }

    .contact-info{
      font-family: "Inter", sans-serif;
      display: flex;
      flex-direction: row;
      justify-content: start;
      margin: 20px 0;
    }
  }

</style>
