---
import Menu from '../reactComponents/Menu'
---

<div class="navbar">
  <a class="logoImage" href="/"><img class="logo" src='/logo.jpg' alt="Logo firma bienes raices"/></a>
  <ul>
    <li class="item"><a href="/#nosotros">Nosotros</a></li>
    <li class="dropdown item">
      <a>Inmuebles</a>
      <div class="dropdown-content">
        <a href="/venta">Venta</a>
        <a href="/renta">Renta</a>
        <a href="/preventa">Preventa</a>
      </div>
    </li>
    <li class="item"><a href="/#formulario1">Contacto</a></li>
    <Menu client:load/>
  </ul>
</div>

<style>
  .navbar {
    z-index: 4;
    background-color: #03071e;
    color: #ffffff;
    font-family: "Inter", sans-serif;
    height: 80px;
    padding: 0 53px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .logo {
    height: 50px;
    width: 46px;
  }

  .navbar a {
    font-size: 1.2rem;
    margin: 0 20px;
    text-decoration: none;
    color: #ffffff;
    cursor: pointer;
  }

  ul {
    list-style-type: none;
    position: relative;
    display: flex;
    flex-direction: row;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    min-width: 10%;
    background-color: #ffffff;
    color: #000000;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1;
  }

  .dropdown-content a {
    color: black;
    padding: 5px 10px;
    text-decoration: none;
    display: block;
    text-align: left;
  }


  .dropdown:hover .dropdown-content{
    display: block;
  }

  @media only screen and (max-width: 600px) {
    .item {
        display: none;
  }

  .navbar{
    position: fixed;
  }

  .logoImage{
    display: block;
    position: absolute;
    left: 0;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
}

  /* Para dispositivos medianos (tabletas) */
  @media (max-width: 768px) {
    .item {
        display: none;
  }
  }


</style>
