---
import Nosotros from './sobreNosotrosComponents/Nosotros.astro'
import Confiabilidad from './sobreNosotrosComponents/Confiabilidad.astro'
import Estrategias from '../astrocomponets/sobreNosotrosComponents/Estrategias.astro'
import Asesorias from '../astrocomponets/sobreNosotrosComponents/Asesorias.astro'
import Formulario1 from '../reactComponents/Formulario1'
---

<div class="container">
    <Nosotros/>
    <Confiabilidad/>
    <Estrategias/>
    <Asesorias/>
    <Formulario1 client:load/>
</div>




<style>

    .container{
        padding-top: 100px;
        height: auto !important;
        max-width: 100vw;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    

</style>